.products__carousel {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

@media (min-width: 640px) {
    .products__carousel-slide-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .products__carousel-slide-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.product {
    border: 1px solid var(--main-color);
    padding: 5px;
}

.product__buttons {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 600px) {
    .products__list {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 810px) {
    .products__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .products__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
